body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.calculator {
    width: 300px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

#display {
    height: 50px;
    text-align: right;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #777;
}

/* button#equals {
    grid-column: span 2;
    background-color: #e74c3c;
}

button#zero {
    grid-column: span 2;
} */
