@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    color: rgb(0, 0, 0);
}

button {
    width: 70px;
    border: none;
    outline: none;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}

.nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 60px 0 60px;
    background-color: rgb(255, 255, 255);
}

.menu li {
    display: inline;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.jumbotron {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    align-items: center;
    background-color: rgb(244, 243, 243);
}

.jumbotron .judul{
    width: 500px;
}
.jumbotron .judul p {
    padding-top: 50px;
}

.jumbotron img {
    width: 700px;
}

.po {
    margin-bottom: 0px !important;
}

.row {
    display: flex;
    justify-content: center;
    padding: 0 60px 0 60px;
    margin-bottom: 40px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}


.center{
    text-align: center;
}

.row .col {
    margin-left:60px;
}

.row .col-img img {
    margin-left:30px;
}

.row .col p {
    text-align: left;
}

.row .col-2 {
    width: 40%;
    margin-left: 60px;
}

.col-2 h2,p {
    padding-bottom: 35px;
}
.nodecor{
    margin-left: 90px;
}
.nodecor li {
    list-style-type: none;
}

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(152, 152, 152);
}

.m-3{
    margin-bottom: 30px;
}

.row .col-footer {
    margin: 0 90px 0 90px;
}